/* zmienne */
:root {
  --hover-color: #2196f3;
  --bg-color: #2f303a;
  --font-color: #212121;
  --logo-color: #000;
  --nr-color: #757575;
  --main-bg-color: #e5e5e5;
  --team-bg-color: #f5f4fa;
  --foot-font-color: rgb(255, 255, 255, 0.6);
}

ul {
  list-style-type: none;
}

body {
  font-family: roboto;
  color: var(--font-color);
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #757575;
}

header li a:hover {
  color: var(--hover-color);
}

header a:focus {
  color: var(--hover-color);
}
address a:hover {
  color: var(--hover-color);
}

address a:focus {
  color: var(--hover-color);
}
footer {
  font-style: normal;
  background-color: var(--bg-color);
}

.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  font-family: 'Raleway';
  line-height: 30.52px;
  color: var(--logo-color);
}
.contact-font {
  color: var(--nr-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 16.41px;
  letter-spacing: 2%;
}
.nav-font {
  font-weight: 500;
  font-size: 14px;
  line-height: 16.41px;
  letter-spacing: 2%;
  color: var(--font-color);
}
.center-element-font {
  font-weight: 900px;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 6%;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background-color: var(--bg-color);
}
.button {
  color: white;
  background-color: var(--hover-color);
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 6%;
  cursor: pointer;
}
.main-section {
  background-color: white;
}
.team-section {
  background-color: var(--team-bg-color);
}

.p-header {
  color: var(--font-color);
  font-weight: 700px;
  font-size: 14px;
  line-height: 16.41px;
  letter-spacing: 3%;
  text-transform: uppercase;
}
.p-text {
  color: var(--nr-color);
  font-weight: 400px;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
}
.h2-font {
  color: var(--font-color);
  font-weight: 700px;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 3%;
}
.footer-text {
  color: var(--foot-font-color);
  font-style: normal;
}
