/* zmienne */
:root {
  --hover-color: #2196f3;
  --bg-color: #2f303a;
  --font-color: #212121;
}
body {
  font-family: roboto;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #757575;
}

header a:hover {
  color: var(--hover-color);
}

header a:focus {
  color: var(--hover-color);
}
address a:hover {
  color: var(--hover-color);
}

address a:focus {
  color: var(--hover-color);
}

button {
  cursor: pointer;
}

.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  font-family: 'Raleway';
  line-height: 30.52px;
  color: #000000;
}
ul {
  list-style-type: none;
}
.nav-list li {
  font-size: 14px;
  font-weight: 500px;
  line-height: 16.41px;
}
